<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
       
	<bean id = "customer"  class ="com.spring.demo.Customer"> 
		<property name="custID" value="100"> </property>
		<property name="customerName" value="Bhavya"> </property>
		<property name="address" ref ="address"> </property>
		
		<!--<constructor-arg name = "custID" value = "2000" type = "int"></constructor-arg>
		<constructor-arg name = "customerName" value = "Bhavya" ></constructor-arg> -->
	</bean>
	
	<bean id ="address" class="com.spring.demo.Address">
		<property name="addressLine1" value="1 saint francis pl"></property>
		<property name="addressLine2" value="apt#1401"></property>	
		<property name="city" value="San Francisco"></property>	
	</bean>
	
	
</beans>